{% extends "base.j2" %}
{%block title%}Informations - Anata{%endblock%}
{%block body%}
<div>
    <h3>Anata - Informations</h3>
    <p>Anata is an online video sharing community website. Users are encouraged to interact with each other by posting videos, liking, commenting.<br>
    • Developer : <a href="https://www.instagram.com/clement.weuve/">Clément Euvé</a></p>
</div>
{%endblock%}